// 1. Variables
$primary: #f2ac0f;
$secondary: #e6640b;
$tercary: #de0918;
$light: #fbfade;
$dark: #231b33;

// 2. Configuration Bootstrap
@import "../node_modules/bootstrap/scss/functions";

// 3. Theme Colors Map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tercary": $tercary,
  "light": $light,
  "dark": $dark,
);

// 4. Bootstrap Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/bootstrap";

// 5. Mixins personnalisés
@mixin button-base {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

// 6. Classes personnalisées
// 6.1 Couleurs de texte
.myprimary {
  color: $primary;
}

// 6.2 Couleurs de fond
.bg {
  &-myprimary {
    background-color: $primary;
  }

  &-mysecondary {
    background-color: $secondary;
  }

  &-mytercary {
    background-color: $tercary;
  }

  &-mydark {
    background-color: $dark;
  }

  &-mylight {
    background-color: $light;
  }
}

// 6.3 Navbar
.navbar-mydark {
  background-color: $dark;
  padding: 1rem;

  .navbar-brand {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .navbar-toggler {
    margin-right: 1rem;
  }
}

.navbar-brand img {
  @media (max-width: 400px) {
    height: 20px; // Réduire légèrement la taille du drapeau
  }
}

.navbar-toggler.bi-list {
  color: $primary;
}

/* Cache le logo menu pour grand écran */
@media (min-width: 1002px) {
  .navbar-toggler {
    display: none;
  }
}

/* Fait apparaitre le logo menu pour petit écran */
@media (max-width: 1001px) {
  .navbar-toggler {
    display: block;
  }

  /* Cache le reste lorsque l'écran et petit */
  #navbarContent {
    display: none;
  }
}

// 6.4 Logo
.website-logo {
  transition: all 0.3s ease;
  max-height: 60px;
  width: auto;
  object-fit: contain;

  @include media-breakpoint-down(lg) {
    display: none; // Cache le logo sur les petits écrans
  }

  // Animation au hover
  &:hover {
    animation: shakeY 0.5s ease-in-out;
  }
}

@keyframes shakeY {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

// 6.5 Boutons
.btn.bg-myprimary {
  @include button-base;
  background-color: $primary !important;
  color: black !important;
  border-color: $primary !important;

  &:hover {
    background-color: $primary !important;
    border-color: $primary !important;
    color: black !important;
    box-shadow: none !important;
  }
}

.btn-myprimary {
  @include button-base;
  background-color: $primary !important;
  color: black !important;
  border-color: $primary !important;
  width: 125px;
  height: 38px;
  padding: 8px 0;

  @include media-breakpoint-down(md) {
    width: 75px;
    padding: 8px 0;
    font-size: 0.6rem;
  }

  &:hover {
    background-color: $primary !important;
    border-color: $primary !important;
    color: black !important;
    box-shadow: none !important;
  }
}

// 7. Layout et composants
.search-form-container {
  max-width: 700px;
  min-width: 100px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1300px) {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  @include media-breakpoint-down(lg) {
    max-width: 400px;
  }

  @include media-breakpoint-down(md) {
    max-width: 200px;
  }

  @include media-breakpoint-down(sm) {
    max-width: 100px;
  }
}

.logo {
  transition: all 0.8s ease;

  &-facebook {
    &:hover {
      filter: invert(59%) sepia(29%) saturate(676%) hue-rotate(183deg)
        brightness(91%) contrast(87%);
    }
  }

  &-instagram {
    &:hover {
      filter: invert(32%) sepia(84%) saturate(3302%) hue-rotate(326deg)
        brightness(90%) contrast(97%);
    }
  }

  &-twitter {
    &:hover {
      filter: invert(64%) sepia(86%) saturate(2472%) hue-rotate(194deg)
        brightness(92%) contrast(90%);
    }
  }
}

//8. Theme

.theme-tag {
  text-align: center;
  background-color: $secondary;
  border-radius: 20px;
  padding: 5px 10px;
  display: inline-block;
}
