{% extends 'base_template.html.twig' %}


{% block content %}
    <main class="content row d-flex flex-grow-1" >
    <form action="index.php?controller=utilisateur&methode=changerMDP" method="POST" class="text-center col-12 w-25 mx-auto" >
        <img src="{{ constant('WEBSITE_LOGO') }}" height="95" width="155" alt="VHS Logo" class="mx-auto my-2">
        <div class="bg-mydark text-white rounded p-4 mb-5" >
            <h3 class="mb-3"> Changement de votre mot de passe </h3>
        
            
            <input type="text" name="id" style="display: none" value="{{ id }}">     
            <p class="text-start mb-0"> Nouveau mot de passe </p>
            <input type="password" name="mdp" class="form-control mb-2 "> 
            <p class="text-start mb-0"> Vérification mot de passe </p>
            <input type="password" name="vmdp" class="form-control mb-3 ">
            <input type="submit" class="btn btn-myprimary my-2  w-50 mx-auto" value="Changer le mot de passe"> 
            
            <a href="index.php?controller=utilisateur&methode=connexion" class="text-white"> se connecter </a>
        </div>
    </form>
</main>    
{% endblock %}