{% extends 'base_template.html.twig' %}

{% block title %}
	VHS | Quizz
{% endblock %}


{% block content %}
	<main class="container flex-fill">
		<h1 class="mt-4 mb-4">Création d'un quizz</h1>
		<div class="card bg-mydark mx-auto my-auto p-4 text-white rounded">
			<form action="index.php?controller=quizz&methode=afficherPageQuestions" method="post">
				<!-- Champ Titre -->
				<div class="row mb-4">
					<label for="titre">Titre (*)</label>
					<input type="text" name="titre" id="titre" class="rounded" placeholder="ex : Quizz Game of Thrones - Les sept royaumes" required/>
					<small id="containerNbDecomptesTitre">50 caractères restants</small>
				</div>
				<!-- Champ Description -->
				<div class="row mb-4">
					<label for="description">Description (*)</label>
					<textarea name="description" id="description" class="rounded" placeholder="ex : Quizz sur les sept royaumes du continent de Westeros" required></textarea>
					<small id="containerNbDecomptesDesc">100 caractères restants</small>
				</div>
				<div class="row">
					<!-- Champ Difficulté -->
					<div class="form-group col mb-4">
						<label for="difficulte" class="col-form-label">Difficulté
							<i class="ms-2 bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="1 : Facile; 2 : Moyen; 3 : Difficile; 4 : Expert"></i>
						</label>
						<input type="number" name="difficulte" id="difficulte" min="1" max="4" value="1" step="1" class="form-control rounded" style="width: 30%;" required>
					</div>
					<!-- Champ Nombre de questions -->
					<div class="form-group col mb-4">
						<label for="nbQuestions" class="col-form-label">Nombre de questions
							<i class="ms-2 bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Le quizz doit avoir 4 à 8 questions"></i>
						</label>
						<input type="number" name="nbQuestions" id="nbQuestions" min="4" max="8" value="4" step="1" style="width: 30%" class="w-20 form-control rounded" required></input>
					</div>
				</div>
				<!-- Boutons de manipulation de la page -->
				<div class="d-flex flex-column flex-sm-row justify-content-around mb-3 mt-3 gap-4">
						<button type="submit" class="btn btn-primary fw-bold col-12 col-sm-auto mb-3" id="validerSaisie" style="width: 300px;">
							Suivant
						</button>
					</form>
					<form action="index.php?controller=quizz&methode=listeQuizz" method="post">
						<input type="hidden" name="idQuizz" value="{{ quizz.id }}">
						<button type="submit" class="btn btn-primary fw-bold col-12 col-sm-auto mb-3" onclick="return confirm('Voulez-vous vraiment annuler la création du quizz ?');" style="width: 300px;">
							Annuler
						</button>
					</form>
				</div>
		</div>
		<p>* : Champs obligatoires</p>
</main>
<script src="js/quizz.js"></script>
{% endblock %}
