{% extends 'base_template.html.twig' %}

{% block title %}
	VHS | Création d'un quizz
{% endblock %}


{% block content %}
    <main class="content flex-grow-1">
        <div class="container">
			<br>
            <h3>Création d'un quizz :</h3>
            <br>
            <div class="container">
                <form method="POST" action="">
                <label for="titre"><b>Titre du quizz : </b></label>
                <input type="text" id="titre" name="titre">
                <br><br>
                <label for="desc"><b>Description : </b></label>
                <textarea id="desc" name="desc" style="width:100%; " oninput="majCaracteresRestants()"></textarea>
                <p>255 caractères max.</p>
                <br>
                <label for="difficulte"><b>Difficulté : </b></label>
                <input type="number" id="difficulte" name="difficulte" min="1" max="4">
                <p> (1 = Facile, 2 = Moyen, 3 = Difficile, 4 = Expert)</p>
                <label for="nbQuestions"><b>Nombre de questions : </b></label>
                <input type="number" id="nbQuestions" name="nbQuestions" min="4" max="20">
                <p>La valeur doit être comprise entre 4 et 20.</p>
                <br>
                <a href="#" class="btn btn-myprimary">Suivant</a>
                <br>
            </div>
        </div>
    </main>
{% endblock %}