{% extends 'base_template.html.twig' %}

{% block title %}
	VHS | Quizz
{% endblock %}


{% block content %}
<main class="container min-vh-100">
    <br>
	<h1>Création d'un quizz</h1>
	<br>
	<form action="" method="get">
		<div class="row">
			<label for="titre"><b>Titre du quizz : </b></label>
    		<input type="text" name="titre" required />
		</div>
		<br>
		<div class="row">
			<label for="description"><b>Description : </b></label>
    		<textarea name="description" required></textarea>
		</div>
		<br>
		<div class="row">
			<label for="difficulte"><b>Difficulté : </b></label>
    		<input type="number" name="difficulte" min="1" max="4" value="1" step="1" style="width: 10%" required></textarea>
		</div>
		<br>
		<div class="row">
			<label for="nbQuestions"><b>Nombre de questions : </b></label>
    		<input type="number" name="nbQuestions" min="4" max="8" value="4" step="1" style="width: 10%" required></textarea>
		</div>
		<br>
		<br>
		<a href="index.php?controller=quizz&methode=creerQuestion&idQuizz" class="row btn btn-primary">
			Suivant
		</a>
	</form>
</main>
{% endblock %}