{% extends 'base_template.html.twig' %}


{% block content %}
    <main class="content row flex-grow-1 ">
        <div class="row">
            <div class="text-center my-auto">
                <h1>En Construction</h1>
                <p>Désolé, cette page est en construction. la fonctionnalité  <strong>{{ fontionliter}}</strong> n'est pas encore prête, veuillez réessayer dans quelque temps </p>
            </div>
        </div>
    </main>
{% endblock %}