<!-- Modal Veuillez vous connecter -->
<div class="modal fade" id="veuillezVousConnecter" tabindex="-1" aria-labelledby="modalAvisLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content bg-mydark text-white">
			<div class="modal-body text-center">
				<p class="fs-3">Si vous voulez avoir accès a toutes nos fonctionnalités connectez-vous 😏</p>
			</div>
			<div class="modal-footer border-0 justify-content-center">
				<a href="index.php?controller=utilisateur&methode=connexion">
					<button type="button" class="btn btn-myprimary">Connexion</button>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Modal se déconnecter -->
<div class="modal fade" id="deconnection" tabindex="-1" aria-labelledby="modalAvisLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-mydark text-white">
            <div class="modal-body text-center">
				<img src="images\LOGO_V1.png" alt="logo" class="img-fluid" style="width: 100px;">
                <p class="fs-3">Êtes-vous sûr de vouloir vous déconnecter ?</p>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                <a href="index.php?controller=utilisateur&methode=deconnexion" class="btn btn-primary">Déconnexion</a>
            </div>
        </div>
    </div>
</div>



