{% extends 'templatePageUtilisateur.html.twig' %}

{% block edit %} border-black border-2 {% endblock %}

{% block contenue %}

	<div class="text-center col-12 col-md-8 col-lg-6 mx-auto p-4 bg-mydark text-white rounded my-5">
		{% if message is defined %}
			<div class="alert alert-success " role="alert">
				{{message}}
			</div>
		{% endif %}
		<form action="index.php?controller=utilisateur&methode=modificationprofil" enctype="multipart/form-data" method="post" accept-charset="UTF-8" class=" ">
			{% if messagederreur is defined %}
				<div class="alert alert-danger bg-tercary mx-5" role="alert">
					Erreur :
					{{ messagederreur }}</div>

			{% endif %}
			<div class="form-group mb-3 d-flex justify-content-between align-items-center">
				<label class="d-block text-start mb-0">
					Mon identifiant : {{ utilisateur.id }}
				</label>
				<a href="index.php?controller=utilisateur&methode=supprimerCompte" class="btn btn-danger" id="suppressionCompte" onclick="return confirm('Etes-vous sûr de vouloir supprimer votre compte ?');">
					Supprimer mon compte
				</a>
			</div>
			<div class="form-group mb-3">
				<label class="d-block text-start mb-0">
					Changer le pseudo
				</label>
				<input type="text" name="pseudo" value="{{ utilisateur.pseudo}}" class="form-control" minlength="3" maxlength="50" required>
			</div>
			<div class="form-group mb-3">
				<label class="d-block text-start mb-0">
					Changer la photo de profil
				</label>
				<input type="file" name="urlImageProfil" class="form-control" accept=".png, .jpg, .svg, .webp">
			</div>
			<div class="form-group mb-3">
				<label class="d-block text-start mb-0">
					Changer la photo de bannière
				</label>
				<input type="file" name="urlImageBanniere" class="form-control" accept=".png, .jpg, .svg, .webp">
			</div>
			
			<input type="submit" class="btn btn-primary" value="valider la modificaltion" class="btn btn-myprimary my-2 w-50 mx-auto">
			<br>

		</form>
		<a class="" data-bs-toggle="modal" data-bs-target="#changermail">
			<p class="mt-4">Changer d'adresse mail</p>
		</a>

		<a href="index.php?controller=utilisateur&methode=afficherpageMDPOublier">
			<p class="mt-2">Changer de mot de passe</p>
		</a>

		<!-- pop up -->
		<div class="modal fade " id="changermail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog  modal-dialog-centered">
				<div class="modal-content bg-mydark" style="border: 1px solid #F2AC0F;">

					<div class="modal-header border-bottom-0">
						<button type="button" class="btn-close btn-close-white " data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form method="post" action="index.php?controller=utilisateur&methode=changerMail">
							<div class="form-group mb-3">
								<label class="d-block text-start mb-0">
									Changer le mail
								</label>
								<input type="text" name="mail" id ="mail" class="form-control">
							</div>
							<div class="form-group mb-3">
								<label class="d-block text-start mb-0">Confirmation du changement
								</label>
								<input type="mail" name="mailconf" id="mailconf" class="form-control">
							</div>

							<input type="submit" class="btn btn-primary" value='valider'></input>

					</form>
					<script src ="JS/utilisateur.js" > </script>
					<script>
						document.addEventListener("DOMContentLoaded", function() { 
							const mail = document.getElementById('mail');
							const mailconf = document.getElementById('mailconf');


							// Appel de verifieregau pour vérifier les valeurs
							verifieregau(mail, mailconf);
						});
					</script>
				</div>
			</div>
		</div>

	
{% endblock %}
