{% extends 'base_template.html.twig' %}

{% block title %}
	VHS | Page des résultats
{% endblock %}

{% block content %}
    <main class="container flex-fill">
        <div class="row mt-4 mb-4">
            <h1>Classement du quizz :</h1>
            <h4>{{ quizz.getTitre() }}</h4>
        </div>
        {% set rangQuizz = 1 %}
        {% for score in scores %}
            <div class="row">
                <div class="card bg-mydark mx-auto text-white rounded mb-4">
                    <div class="card-body text-white">
                        <h4 class="card-title text-white">{{ rangQuizz }} - Score : {{ score.score }}</h4>
                        <h5 class="card-subtitle mb-2  text-white">{{ score.idUtilisateur }}</h5>
                    </div>
                </div>
            </div>
            {% set rangQuizz = rangQuizz + 1 %}
        {% endfor %}
    </main>
{% endblock %}