{% extends 'base_template.html.twig' %}

{% block title %}
	VHS | Quizz
{% endblock %}


{% block content %}

	<main class="">
		<div class="container">
            <img src="{{ constant('WEBSITE_LOGO') }}" height="95" width="155" alt="VHS Logo" class="mx-auto my-2">
            <button class="btn btn-myprimary my-2 mx-auto">Créer un quizz</button>
            <button class="btn btn-myprimary my-2 mx-auto">Gérer mes quizz</button>
            <p> Les quizz : </p>
            
		</div>
	</main>


{% endblock %}